.container{
    display: grid;
    color: white;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 2fr;
}

.box{
    min-height: 50px;
}

.red{
    background-color: red;
    grid-column-start: 1;
    grid-column-end: 4;
}

.green{
    background-color: green;
    grid-column-start: 4;
    grid-column-end: 5;
}

.blue{
    background-color: blue;
    grid-column-start: 5;
    grid-column-end: 6;
}

.violet{
    background-color: violet;
    grid-column-start: 6;
    grid-column-end: 7;
    grid-row-start: 1;
    grid-row-end: 4;
}

.brown{
    background-color: brown;
    grid-column-start: 7;
    grid-column-end: 9;
    grid-row-start: 1;
    grid-row-end: 3;
}

.orange{
    background-color: orange;
    grid-column-start: 9;
    grid-column-end: 10;
    animation: pulse 7s infinite;
}

.wood{
    height: 200px;
    width: 200px;
    animation-name: stretch;
    margin: 0 auto;
    background-color: orange;
    animation-duration: 1.5s;
    animation-timing-function: ease-in-out;
    animation-delay: 0s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-play-state: paused;

}

.wood:hover{
    animation-play-state: running;
}

@keyframes stretch{
    0%{
        transform: rotate(0deg);
        transform: scale(.3);
        background-color: orange;
        border-radius: 100%;
    }

    50%{
        background-color: red;
    }

    100%{
        transform: rotate(360deg);
        transform: scale(1.5);
        background-color: yellow;
    }
}

.black{
    background-color: black;
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 6;
}

.beige{
    background-color: beige;
}

.yellow{
    background-color: yellow;
}

.skyblue{
    background-color: skyblue;
}

.pink{
    background-color: pink;
}

.teal{
    background-color: teal;
}

/* .wood{
    background-color: chartreuse;
} */