/*defining the global variables*/

:root{
    --primaryColor:#66BFBF;
    --backgroundColor:#E4F9F5;
    --myTitleFont:'Dancing Script', cursive;
    --titleFont:'Sacramento', cursive;
    --fontDefaultText: 'Lato', sans-serif;
    --fontDefaultHeading:'Montserrat', sans-serif;
}

/*main css*/

body{
    font-family: var(--fontDefaultHeading);
    margin: 0px;
    color: var(--primaryColor);
    line-height: 25px;
    text-align: center;
}

.top-section{
    color: var(--primaryColor);
    background-color: var(--backgroundColor);
    /* height:400px; */
    padding-top: 100px;
    text-align: center;
}

.heading{
    font-family: var(--titleFont);
    font-size: 5rem;
    margin: 0;
}

h2{
    font-weight: 900;
    margin: 0;
    padding-bottom: 20px;
    font-size: 2.25em; /*1 em = 16px*/
}

hr{
    border:dotted 5px var(--backgroundColor);
    border-bottom: none;
    margin: 120px auto 120px auto;
    width: 5%;

}

.top-cloud{
    position:absolute;
    margin-block-start: -40px;
    margin-left: 350px;
    width:100px;
}

.bottom-cloud{
    position:absolute;
    margin-block-start: 50px;
    margin-left: -200px;
    width:100px;
}

.mountain{
    width:400px;
}

img{
    margin-bottom: -5px;
}

.profile-pic{
    border-radius: 100%;
    height: 250px;
    width: 250px;
}

.profile{
    display: flex;
    justify-content: center;
    margin: 50px auto 100px auto;
}

.middle-section{
    margin: 100px auto 100px auto;
    text-align: center;
    width: 88% ;
}

.intro{
    width: 55%;
    margin: auto;  
}

.skill-image{

    width: 150px;
}

.left{
    float: left;
    margin-right: 30px;
}

.right{
    float: right;
    margin-left: 30px;
}

.my-skills{
    margin: 0px auto 100px auto;
}

.skills{
    margin: 100px auto 100px auto;
    text-align: left;
}

.contact{
    text-decoration: none;
    background-color: var(--primaryColor);
    background-image: linear-gradient(to bottom, var(--primaryColor), #03C988);
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 1.25em;
    color:white;
}

.contact:hover{
    background-color: #2051bd;;
}

.bspace{
    padding-bottom: 20px;
}

.bottom-section{
    background-color: #66BFBF;
    padding: 50px 0px 20px;
}

.copyright{
    color: white;
    padding: 20px 0px;
    font-size: 0.75rem;
}

.footer-links{
    font-family: var(--fontDefaultHeading);
    text-decoration: none;
    margin: 10px 20px;
    color: #205E61;
}

.footer-links:hover{
    color: white;
}