body{
    background-color: rgb(110, 173, 255);
    font-family: 'Comme', sans-serif;
}

h3{
    color: #225ece;
    font-size: 1.75em;
}

.container{
    
    display: flex;
    flex-direction: row;
    column-gap: 10px;
    margin: 100px 20px 300px 20px;
}

.plan{
    background-color: white;
    border-radius: 15px;
    width: 300px;
    height:520px;

}

.offer{
    text-align: center;
    font-family: 'Inter', sans-serif;
    padding-bottom: 20px;
}
 
.matter{
    padding-left: 10px;
    line-height: 30px;
}

.cart-btn{
    text-decoration: none;
    background-color: orange;
    background-image: linear-gradient(to right, orange, rgb(255, 115, 0));
    padding: 10px 80px;
    font-size: 1em;
    color: white;
    border-radius: 5px;
}

.cart-btn:hover{
    background-image: linear-gradient(to right, orange, rgb(255, 17, 0));
}

img{
    width: 20px;
    height: 20px;
    position: relative;
    top: 4px;
    padding-right: 8px;
}